@media (min-width: 768px) {
  .form-inline .form-control.idcard-letters {
    width: 63px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

@media (min-width: 992px) {
  .form-inline .form-control.idcard-letters {
    width: 82px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

@media (min-width: 1200px) {
  .form-inline .form-control.idcard-letters {
    width: 98px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

.form-inline .form-control.idcard-digits {
  border-radius: 0px;
}

.form-inline .form-control.idcard-digits, .form-inline .form-control.idcard-letters, #idcard-checksum {
  text-align: center;
  letter-spacing: 2px;
  font-family: monospace;
  text-transform: uppercase;
}

#idcard .form-group {
  padding-left: 0;
}

.name-telecode {
  width: 5em !important;
}

#name-zh {
  letter-spacing: 0.5em;
  width: 12em;
}

label {
  line-height: 1.5em;
  font-weight: normal;
}
canvas {
  border: solid 2px #aaa;
}
#output-canvas {
  width: 100%;
  max-width: 100vw;
}
