/* body */
body{
  padding-top: 70px;
  background-image: url('paper.png');
}

/* navbar */
.navbar-brand-logo {
  position: fixed;
  top: 0;
}
.navbar-brand-text {
  margin-left: 65px;
}
@media (max-width: 768px) {
  .navbar-brand-text {
    display: none;
  }
}

/* common element */
p, .control-label {
  font-size: 18px;
  font-weight: 300;
  margin-top: 1em;
}
.redtape{
  font-size: 14px;
  color: #666;
}

/* Responsive button fixes for analytics */
@media (max-width: 1200px) {
  .mainform #optin .btn {
    display: block;
    clear: both;
    border-radius: 4px;
    width: 200px;
  }

  .mainform #optin .btn:nth-child(n+2) {
    margin-top: 10px;
  }
}

.extra-dc-group>.btn.extra-dc-btn {
  display: block;
  clear: both;
  border-radius: 4px !important;
  width: 500px;
}

.extra-dc-group>.btn.extra-dc-btn:nth-child(n+2) {
  margin-top: 10px;
}

/* idcard control */
@media (min-width: 768px) {
  .form-inline .form-control.idcard-letters {
    width: 63px;
  }
}
@media (min-width: 992px) {
  .form-inline .form-control.idcard-letters {
    width: 82px;
  }
}
@media (min-width: 1200px) {
  .form-inline .form-control.idcard-letters {
    width: 98px;
  }
}
.form-inline .form-control.idcard-letters {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.form-inline .form-control.idcard-digits, .form-inline .form-control.idcard-letters, #idcard-checksum {
  text-align: center;
  letter-spacing: 2px;
  font-family: monospace;
  text-transform: uppercase;
}
.form-inline .form-control.idcard-digits {
  border-radius: 0px;
}

/* step control */
.step-container .step, .step-nav-container .step-nav {
  display: none;
}
.step-container.step-current-0 .step-0,
.step-container.step-current-1 .step-1,
.step-container.step-current-2 .step-2,
.step-container.step-current-3 .step-3,
.step-container.step-current-4 .step-4,
.step-container.step-current-5 .step-5,
.step-container.step-current-6 .step-6,
.step-container.step-current-7 .step-7,
.step-nav-container.step-current-2 .step-nav:nth-last-child(1n+7),
.step-nav-container.step-current-3 .step-nav:nth-last-child(1n+6),
.step-nav-container.step-current-4 .step-nav:nth-last-child(1n+5),
.step-nav-container.step-current-5 .step-nav:nth-last-child(1n+4),
.step-nav-container.step-current-6 .step-nav:nth-last-child(1n+3),
.step-nav-container.step-current-7 .step-nav:nth-last-child(1n+2) {
  display: block;
}

.step-nav-container .step-nav ul, .step-nav-container .step-nav ul>li{
  list-style: none;
  list-style-type: none;
}

/* name-zh */
.form-inline .form-control.name-telecode {
  width: 5em;
}
#name-zh {
  letter-spacing: 0.5em;
  width: 12em;
}

/* canvas*/
canvas {
  border: solid 2px #aaa;
}
#output-canvas {
  width: 100%;
  max-width: 100vw;
}
#sign-area {
  cursor: url('cursor.png') 8 8, crosshair;
}

/* */
#downloadArea {
  opacity: 0;
}
#downloadArea, .downloadAreaContainer {
  min-width: 320px;
  min-height: 200px;
  max-width: 320px;
  max-height: 200px;
}
.downloadAreaContainer {
   background-image: url('longpress.png');
   overflow: hidden;
 }
 @media (max-width: 768px) {
   .downloadButton {
     display: none;
   }
 }
 @media (min-width: 769px) {
   .downloadAreaContainer {
     display: none;
   }
 }

/* footer */
footer {
  margin-top:5em;
  border-top: #aaa solid 2px;
}
