body{
  font-family: 'Noto Sans TC', sans-serif !important;
  padding-top: 70px;
}

p {
  color:#333;
  font-weight: normal;
  line-height: 1.5em;
}
h3 {
  font-weight: 200;
}

footer {
  border-top: solid 5px #ccc;
  padding-top:2em;
  padding-bottom:2em;
  margin-top: 5em;
  width: 100%;
}

.btn, .form-control, .input-group-addon {
  border-radius: 0;
}

nav.navbar-kbfl {
  background-color: #D05B5E;
}

nav.navbar-default li a, nav.navbar-default .navbar-brand {
  color: #fff !important;
}

@media (max-width: 768px) {
  .partner img{
    max-height:100px;
    max-width:100px;
  }

  .partner.doublewidth img{
    max-width:200px;
  }
}

/*.btn-danger {
  background-color: #b61606;
}*/
