body {
  padding-top: 70px;
  background-image: url('paper.png');
}

header {
  text-align: center;
}

h1 {
  font-weight: 200;
  font-size:72px;
  margin-top: 8rem;
  margin-bottom: 8rem;
}

p {
  font-size: 18px;
  font-weight: 300;
}

h2 {
  font-weight: 600;
}

@media (max-width: 768px) {
  h1 {
    font-size:42px;
  }
}
