/* body */
body{
  padding-top: 70px;
  background-image: url('paper.png');
}

/* header */
@media (min-width: 768px) {
  header {
    text-align: center;
  }
}
h1 {
  font-weight: 200;
  font-size:72px;
  margin-top: 8rem;
  margin-bottom: 8rem;
  color: #666;
}
@media (max-width: 768px) {
  h1 {
    font-size:42px;
  }
}
.btn-lg {
  border-radius: 0;
}

/* common element */
p {
  font-size: 18px;
  font-weight: 300;
}

/* navbar */
.navbar-brand-logo {
  position: fixed;
  top: 0;
}
.navbar-brand-text {
  margin-left: 65px;
}

/* footer */
.footer {
  margin-bottom: 8rem;
}

/* effect: animated earth and sun */
@keyframes animatedEarthMotion {
  0% {
  	background-position: 0px 5px, 125px 5px, 0px 5px, 0px 0px;
  }
  50% {
  	background-position: 278px 33px, 125px 5px, 278px 33px, 0px 0px;
  }
  100% {
  	background-position: 0px 5px, 125px 5px, 0px 5px, 0px 0px;
  }
}
@keyframes animatedEarthLayer {
  0% {
    background-image: url('earth.png'), url('sun.png'), none, url('track.png');
  }
  50% {
    background-image: none, url('sun.png'), url('earth.png'), url('track.png');
  }
  100% {
    background-image: none, url('sun.png'), url('earth.png'), url('track.png');
  }
}
.year-animate-area	{
  background-image: url('earth.png'), url('sun.png'), url('earth.png');
	background-position: 0px 0px, 0px 0px, 0px 0px;
	background-repeat: no-repeat, no-repeat, no-repeat;
  animation: animatedEarthMotion 2s cubic-bezier(0.5, 0, 0.5, 1) infinite, animatedEarthLayer 2s step-end infinite;
  height: 60px;
  width: 300px;
  margin:8rem 0;
}
